<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create New Single Choice Question</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container text-center">
    <div>
        <h1>Create New Single Choice Question</h1>
    </div>
    <form th:action="@{/quiz/question/new/single_choice(quizId=${quizId})}" th:object="${singleChoiceQuestion}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Question text:</label>
                <div class="col-8">
                    <input type="text" th:field="*{quizText}" class="form-control"
                           required minlength="2" maxlength="400" />
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Create Question</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>