<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${course.getCourseName}]]</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link th:href="@{/styles/customClasses.css}" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container text-center">
    <div class="container">
        <h1 th:text="${course.getCourseName}"></h1>
        <h2 th:text="${course.getDescription}"></h2>
    </div>
    <div class="container pb-5">
        <div class="col m-1">
            <a class="btn btn-primary" th:href="@{/assignment/new(courseId=${courseId})}">Create new assignment</a>
        </div>
        <div class="col m-1">
            <a class="btn btn-primary" th:href="@{/quiz/new(courseId=${courseId})}">Create new quiz</a>
        </div>
        <div class="col m-1">
            <a class="btn btn-primary" th:href="@{/course/edit(id=${courseId})}" role="button">Edit Course</a>
        </div>
        <form th:action="@{/course/delete(courseId=${courseId})}" method="post" class="col">
            <button type="submit" class="btn btn-primary red-button">Delete Course</button>
        </form>
    </div>
    <div th:if="${hasRequests}">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User Name</th>
                <th>Time since request was sent</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="enrollRequestOwnerViewDTO: ${enrollRequestOwnerViewDTOS}">
                <td th:text="${enrollRequestOwnerViewDTO.userFullName}">User Name</td>
                <td th:text="${enrollRequestOwnerViewDTO.createdAt}">Time since request was sent</td>
                <td>
                    <form th:action="@{/course/accept_enroll_request(courseId=${courseId},userId=${enrollRequestOwnerViewDTO.userId})}" method="post">
                        <button type="submit" class="btn btn-primary">Accept request</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container text-center py-5" th:each = "quiz: ${quizzes}">
        <hr>
        <div class="row py-2">
            <p>
                <b>Quiz Name: </b>
            </p>
            <p th:text=" ${quiz.getQuizName}"></p>
        </div>
        <div class="row" py-2>
            <h3 th:text="'This quiz has ' + ${quiz.quizQuestions.size} + ' questions'">
            </h3>
        </div>
        <div th:if="!${quiz.getIsComplete}" class="row py-2">
            <a class="btn btn-primary"
               th:href="@{/quiz/question/new/choose_type(quizId=${quiz.getId})}">
                Add a new question to quiz
            </a>
        </div>
        <div th:if="!${quiz.getIsComplete}" class="row py-2">
            <form th:action="@{/quiz/finish(quizId=${quiz.getId},courseId=${courseId})}" method="post">
                <button type="submit" class="btn btn-primary">Mark as finished</button>
            </form>
        </div>
        <div th:if="${quiz.getIsComplete}" class="row py-2">
            <p>Complete Quiz</p>
        </div>
        <div class="row py-2">
            <a class="btn btn-primary"
               th:href="@{/quiz/show(quizId=${quiz.getId})}">
                Show Quiz questions
            </a>
        </div>
    </div>

    <div class="container text-center py-5" th:each = "assignment: ${assignments}">
        <hr>
        <div class="row">
            <a class="btn btn-primary"
               th:href="@{/assignment/edit(assignmentId=${assignment.getId})}">
                Edit assignment
            </a>
        </div>
        <div class="row py-2">
            <a class="btn btn-primary"
               th:href="@{/assignment/submissions(assignmentId=${assignment.getId})}">
                See user submissions for this assignment
            </a>
        </div>
        <div class="row py-2">
            <p>
                <b>Assignment name: </b>
            </p>
            <p th:text=" ${assignment.getAssignmentName}"></p>

        </div>
        <div class="row">
            <p>
                <b>Description: </b>
            </p>
            <p th:text=" ${assignment.getDescription}"></p>
        </div>
    </div>
</div>
</body>
</html>