<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${course.getCourseName}]]</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container text-center">
    <div class="container">
        <h1 th:text="${course.getCourseName}"></h1>
        <h2 th:text="${course.getDescription}"></h2>
    </div>
    <div class="container">
        <div class="col m-1">
            <a class="btn btn-primary" th:href="@{/assignment/new(courseId=${courseId})}">Create new assignment</a>
        </div>
        <div class="col m-1">
            <a class="btn btn-primary" th:href="@{/course/edit(id=${courseId})}" role="button">Edit Course</a>
        </div>
        <form th:action="@{/course/delete(courseId=${courseId})}" method="post" class="col">
            <button type="submit" class="btn btn-primary">Delete Course</button>
        </form>
    </div>
    <div class="container text-center py-5" th:each = "assignment: ${assignments}">
        <hr>
        <div class="row">
            <a class="btn btn-primary"
               th:href="@{/assignment/edit(assignmentId=${assignment.getId})}">
                Edit assignment
            </a>
        </div>
        <div class="row">
            <p>
                <b>Assignment name:</b>
            </p>
            <p th:text="${assignment.getAssignmentName}"></p>

        </div>
        <div class="row">
            <p>
                <b>Description:</b>
            </p>
            <p th:text="${assignment.getDescription}"></p>
        </div>
    </div>
</div>
</body>
</html>