<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${course.getCourseName}]]</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container-fluid text-center">
    <div class="container">
        <h1 th:text="${course.getCourseName}"></h1>
        <h2 th:text="${course.getDescription}"></h2>
    </div>
    <a class="btn-primary" th:href="@{/assignment/new(courseId=${courseId})}">Create new assignment</a>
    <div class="container text-left" th:each = "assignment: ${assignments}">
        <div class="container">
            <p>
                <b>Assignment id:</b>
            </p>
            <p th:text="${assignment.getId}"></p>
        </div>
        <div class="container">
            <p>
                <b>Description:</b>
            </p>
            <p th:text="${assignment.getDescription}"></p>
        </div>
    </div>
</a>
</body>
</html>