<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<div>
    <form th:action="@{/user/process_edit}"
          method="post"
          enctype="multipart/form-data">
        <div>

            <label>Photos: </label>
            <input type="file" name="image" accept="image/png, image/jpeg" />

        </div>
        <div>
            <button type="submit" class="btn btn-primary">Upload Photo</button>
        </div>
    </form>
</div>
</body>
</html>