<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container">
    <div class="container m-5">
        <form th:action="@{/course/process_img_edit(id=${CourseId})}"
              method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                <label>Change Course Image: </label>
                <input type="file" name="image" accept="image/png, image/jpeg" required/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Upload Photo</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="container align-items-center m-5">
        <form th:action="@{/course/change_name(id=${CourseId})}"
              method="post">
            <div class="form-group">
                <label>Change Course Name: </label>
                <input type="text" name="newCourseName" class="form-control"
                       required minlength="2" maxlength="250"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change name</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="container align-items-center m-5">
        <form th:action="@{/course/change_description(courseId=${CourseId})}"
              method="post"
              id="description_form">
            <label>Change Course Description: </label>
            <textarea rows="4" cols="50" name="newDescription" form="description_form" class="form-control m-1"
                      required minlength="2" maxlength="250">Enter description text here...</textarea>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change Description</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>