<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container text-center">
    <div class="row pt-5">
        <div class="col">
            <form th:action="@{/user/process_img_edit}"
                  method="post"
                  enctype="multipart/form-data">

                <div>
                    <label>Change User Photo: </label>
                    <input type="file" name="image" accept="image/png, image/jpeg" />
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Upload Photo</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <a class="btn btn-primary" th:href="@{/user/enroll_requests}">See your course enrollment requests</a>
        </div>
    </div>
</div>
</body>
</html>